# OpenAI API Key (add your real key here for testing)
OPENAI_API_KEY=

# Anthropic API Key
ANTHROPIC_API_KEY=

GEMINI_API_KEY=

FIREBASE_API_KEY=
FIREBASE_EMAIL=
FIREBASE_PASSWORD=

# Google BigQuery Configuration
# JSON service account credentials as a single-line string
BIGQUERY_CREDENTIALS_JSON='{"type":"service_account","project_id":"plantstory","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...@plantstory.iam.gserviceaccount.com","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"..."}'